<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" >

    <!-- BASE LINK -->

    <link name="chassis">
        <visual>
            <origin xyz="0 0 0.15" rpy="0 0 0"/>
            <geometry>
                <mesh filename="package://imu_plane/meshes/plane.stl" scale="0.001 0.001 0.001"/>
            </geometry>
            <material name="grey">
                <color rgba="0.5 0.5 0.5 1"/>
            </material>
        </visual>
    </link>
    
</robot>